<template name="eventDetails">
	{{>event_edit_form}}
	<div class="container">
		{{#with event}}
			{{>gmaps}}
      <div class="pull-right">
        <a id="event_edit" href="#eventEditFormModal" data-toggle="modal" class="btn btn-primary">Event bearbeiten</a>
        {{>rsvpWidget}}
        <hr />
        {{>eventInviteForm}}
      </div>
      <h1>{{title}}</h1>
			<p>{{description}}</p>
			<p>WANN: {{when}}</p>
			<p>WO: {{where}}</p>
			<p>TWITTER: {{hashtag}}</p>
			<p>GÄSTE: {{#if rsvps}}
				{{#each rsvps}}{{this.profile.name}}, {{/each}}
				{{else}} Noch keine!
				{{/if}}
			</p>
			<p>VERANSTALTER: {{owner.profile.name}}</p>
			<p>
				{{#if public}} Öffentlich
				{{else}} Privat
				{{/if}}
			</p>
		{{/with}}
	</div>
</template>

<template name="gmaps">
  {{#constant}}
  <div id="map_canvas" style="width:100%; height:300px"></div>
  {{/constant}}
</template>

<template name="event_edit_form">
  <!-- Modal for editing events-->
  {{#with selectedEvent}}
  <div id="eventEditFormModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editEventModal" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="editEventModal">Event bearbeiten</h3>
    </div>
    <div class="modal-body">
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="inputEditTitle">Titel</label>
          <div class="controls">
            <input
              class="input-block-level"
              type="text" id="inputEditTitle"
              placeholder="Titel der Veranstaltung..."
              value="{{title}}"
              />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEditDateWhen">Wann</label>
          <div class="controls">
            <input
              id="inputEditDateWhen" type="text" readonly
              class="input-block-level"
              placeholder="TT/MM/YYYY HH:MM"
              value="{{when}}"
              >
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEditHashtag">Hashtag</label>
          <div class="controls">
            <input
              class="input-block-level"
              type="text" id="inputEditHashtag" placeholder="#..."
              value="{{hashtag}}"
              />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEditDescription">Beschreibung</label>
          <div class="controls">
            <textarea class="input-block-level" rows="5" id="inputEditDescription" placeholder="Ausführliche Beschreibung der Veranstaltung...">{{description}}</textarea>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEditAdress">Adresse</label>
          <div class="controls">
            <textarea
            	class="input-block-level"
            	rows="5" id="inputEditAdress"
            	placeholder="Ort der Veranstaltung...">{{where}}</textarea>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input id="inputEditPublicToggle" type="checkbox" {{#if public}}checked{{/if}}> &Ouml;ffentliche Veranstaltung?
            </label>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Abbrechen</button>
      <button data-dismiss="modal" class="btn btn-primary save">&Auml;nderungen speichern</button>
    </div>
  </div>
  {{/with}}
</template>

<template name="eventInviteForm">
  <div>
    <form>
      <fieldset>
        <legend>Einladungen</legend>
        <input type="text" id="inputInvitees" placeholder="Emailadressen eintragen…">
        <span class="help-block">Emailadressen mit Komma trennen.</span>
        <button class="btn btn-primary save">Einladungen versenden</button>
      </fieldset>
    </form>
    <ul>
      {{#each invitations}}
      <li>{{this}} <i id="{{this}}" class="icon-remove"></i></li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="rsvpWidget">

  <div>
    <h3>Teilnahme</h3>
    {{#if attending}}
      <div class="alert alert-success">Du bist dabei!</div>
      <button id="unattend" class="btn btn-block btn-large btn-danger">Absagen</button>
    {{else}}
      <div class="alert alert-warn">Du bist nicht dabei...</div>
      <button id="attend" class="btn btn-block btn-large btn-primary">Teilnehmen</button>
    {{/if}}
  </div>
</template>